:root {
    --vp-c-accent: rgb(60 60 67);
    ;
    --content-width: 820px;
}

// page
.vp-theme-container.no-navbar .vp-page {
    padding-top: 2rem;
}

.vp-page h1 {
    font-size: 2.5rem;
}

.vp-page h2 {
    border-bottom: 0;
    font-size: 2.25rem;
}

.vp-page p {
    line-height: 1.8;
}

.vp-back-to-top-button {
    color: rgb(60 60 67);
}

.vp-back-to-top-button:hover {
    color: rgb(0, 0, 0);
}